<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <h1>Welcome To the MEN Stack Chat app</h1>
    <p>You are warmly welcome to write (express) message to your beloved one.</p>
    <form method="GET" action="/chats">
        <button>Start Chats</button>
    </form>
    <p>This web app is created by <a href="https://www.linkedin.com/feed/">Shwe Win Aung</a> using MongoDB, ExpressJS, NodeJS</p>
</body>
</html>